<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
    <add key="GateUrl" value="http://siteurl/index.php/http_api/send_sms"/>
    <add key="GateLogin" value="YourLogin"/>
    <add key="GatePass" value="YourPassword"/>
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 6.1; WOW64; rv:16.0) Gecko/20100101 Firefox/16.0"/>
  </appSettings>
</configuration>